:root {
  /* Основные переменные для цветовой схемы */
  --card: #313131; /* Цвет фона карточек */
  --default-text: #fff; /* Основной цвет текста */
  --default-text-hover: #bfbfbf; /* Цвет текста при наведении */
  --gray: #9b9b9b; /* Серый цвет для иконок и неактивных элементов */
  --border-line: #494949; /* Цвет рамок и линий */
  --card-hover: #373636; /* Цвет фона карточки при наведении */
}

#root {
  /* Основной контейнер приложения */
  max-width: 1280px; /* Максимальная ширина приложения */
  margin: 0 auto; /* Выравнивание по центру */
  padding: 2rem; /* Отступы вокруг контента */
  text-align: center; /* Центрирование текста */
}

ul {
  /* Стили для списков */
  list-style-type: none; /* Убираем маркеры списка */
  margin-block-start: 0; /* Убираем верхний отступ */
  margin-block-end: 0; /* Убираем нижний отступ */
  padding-inline-start: 0; /* Убираем отступ слева */
}

nav {
  /* Навигационная панель */
  position: absolute; /* Фиксированное положение относительно родителя */
  left: 0; /* Привязка к левому краю */
  top: 0; /* Привязка к верхнему краю */
  width: 100%; /* Занимает всю ширину */
  background-color: var(--card); /* Фон из переменной card */
  height: 64px; /* Высота панели */
  display: flex; /* Используем флекс для выравнивания */
  justify-content: space-between; /* Элементы распределены по краям */
}

.header-list {
  /* Список в заголовке */
  display: flex; /* Используем флекс для расположения в строку */
  height: 100%; /* Высота равна высоте навигации */
  align-items: center; /* Выравнивание по вертикали */
  gap: 30px; /* Промежуток между элементами */
  margin: 0 30px; /* Внутренние отступы от краев */
}

.header-list li a {
  /* Ссылки в списке заголовка */
  color: var(--default-text); /* Цвет текста из переменной */
  transition: .2s; /* Плавный переход для эффектов */
}

.header-list li a:hover {
  /* При наведении на ссылки */
  color: var(--default-text-hover); /* Меняем цвет текста */
}

.file-list-main {
  /* Основной контейнер для списка файлов */
  display: flex; /* Используем флекс */
  flex-direction: column; /* Элементы располагаются вертикально */
  gap: 16px; /* Расстояние между элементами */
  margin: 20px 0; /* Вертикальные отступы */
}

.file-list-box {
  /* Стиль карточек файлов */
  padding: 12px; /* Внутренний отступ */
  background-color: var(--card); /* Фон из переменной card */
  border-radius: 8px; /* Округление углов */
  display: flex; /* Используем флекс для расположения */
  justify-content: space-between; /* Элементы распределены по краям */
  align-items: center; /* Выравнивание по вертикали */
  width: 760px; /* Фиксированная ширина */
}

.file-list-info {
  /* Контейнер с информацией о файле */
  display: flex; /* Используем флекс */
  flex-direction: column; /* Элементы располагаются вертикально */
  align-items: flex-start; /* Выравнивание по левому краю */
}

.file-list-img {
  /* Миниатюра файла */
  width: 45px; /* Фиксированная ширина */
  height: 45px; /* Фиксированная высота */
}

table {
  /* Таблицы */
  width: 100%; /* Таблица занимает всю ширину */
  border-collapse: collapse; /* Убираем двойные линии */
  margin-bottom: 20px; /* Отступ снизу */
}

th, td {
  /* Ячейки таблицы */
  padding: 10px; /* Внутренний отступ */
  text-align: left; /* Текст выравнен по левому краю */
  border: 1px solid var(--border-line); /* Границы из переменной border-line */
}

th {
  /* Заголовки таблиц */
  background-color: var(--card); /* Фон из переменной card */
}

.text-center {
  /* Класс для центрирования текста */
  text-align: center; /* Центрируем текст */
}

.admin-panel-buttons-table {
  /* Контейнер для кнопок панели администратора */
  display: flex; /* Используем флексбокс для выравнивания */
  justify-content: center; /* Центрируем кнопки */
  gap: 10px; /* Расстояние между кнопками */
}

.admin-panel-button {
  /* Стиль кнопки в панели администратора */
  padding: 4px; /* Внутренние отступы */
  background-color: var(--card); /* Фон кнопки */
  height: 26px; /* Высота кнопки */
  width: 26px; /* Ширина кнопки */
  display: flex; /* Используем флекс для выравнивания содержимого */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали */
  border-radius: 4px; /* Скругляем углы */
  cursor: pointer; /* Указываем, что элемент кликабельный */
  transition: .2s; /* Добавляем плавный переход для изменений */
}

.admin-panel-button svg {
  /* Стили для иконок внутри кнопок */
  width: 13px; /* Размер иконки */
  fill: #bb9b10; /* Цвет заливки иконки */
}

.admin-panel-button:hover {
  /* Эффект при наведении на кнопку */
  background-color: var(--card-hover); /* Меняем фон на цвет при наведении */
}

/* Модальное окно */

.modal-backdrop {
  /* Фон модального окна */
  position: fixed; /* Фиксированное положение */
  top: 0; /* Привязка к верхнему краю */
  left: 0; /* Привязка к левому краю */
  width: 100%; /* Ширина на весь экран */
  height: 100%; /* Высота на весь экран */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  z-index: 999; /* Уровень слоя */
  opacity: 0; /* Начальная прозрачность */
  transition: opacity 0.2s ease; /* Плавное появление/исчезновение */
}

.modal-backdrop.show {
  /* Когда модальное окно отображается */
  opacity: 1; /* Делаем фон видимым */
}

.modal {
  /* Контейнер модального окна */
  position: fixed; /* Фиксированное положение */
  top: 50%; /* Центрируем по вертикали */
  left: 50%; /* Центрируем по горизонтали */
  transform: translate(-50%, -50%); /* Сдвигаем для точного центрирования */
  z-index: 1000; /* Уровень слоя */
  opacity: 0; /* Начальная прозрачность */
  transition: opacity 0.2s ease, transform 0.2s ease; /* Плавное появление/исчезновение */
}

.modal.show {
  /* Когда модальное окно отображается */
  opacity: 1; /* Делаем окно видимым */
  transform: translate(-50%, -50%); /* Центрирование */
}

.modal.hide {
  /* Когда модальное окно скрывается */
  opacity: 0; /* Прозрачность */
  transform: translate(-50%, -60%); /* Сдвиг для эффекта исчезновения */
}

.modal-content {
  /* Контент внутри модального окна */
  background-color: var(--card); /* Фон из переменной card */
  padding: 20px; /* Внутренний отступ */
  border-radius: 8px; /* Скругление углов */
  text-align: center; /* Центрирование текста */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для придания объема */
  transform: translateY(-50px); /* Начальная позиция для анимации */
  animation: fadeIn 0.2s ease-out forwards; /* Анимация появления */
}

/* Анимация появления */
@keyframes slideDown {
  from {
    transform: translateY(-50px); /* Начальная позиция */
    opacity: 0; /* Прозрачность */
  }
  to {
    transform: translateY(0); /* Конечная позиция */
    opacity: 1; /* Полная видимость */
  }
}

/* Анимация исчезновения */
@keyframes slideUp {
  from {
    transform: translateY(0); /* Начальная позиция */
    opacity: 1; /* Полная видимость */
  }
  to {
    transform: translateY(-50px); /* Конечная позиция */
    opacity: 0; /* Прозрачность */
  }
}

/* Анимация для модального контента */
@keyframes fadeIn {
  from {
    transform: translateY(-50px); /* Начальная позиция */
    opacity: 0; /* Прозрачность */
  }
  to {
    transform: translateY(0); /* Конечная позиция */
    opacity: 1; /* Полная видимость */
  }
}

/* Не модульное окно */

.upload-file-main {
  /* Основной контейнер для загрузки файлов */
  display: flex; /* Используем флекс для расположения содержимого */
  flex-direction: column; /* Элементы располагаются вертикально */
  background-color: var(--card); /* Фон из переменной card */
  border-radius: 6px; /* Округление углов */
  position: relative; /* Позиционирование относительно родителя */
  padding: 12px; /* Внутренние отступы */
  gap: 10px; /* Промежуток между элементами */
}

.upload-btn {
  /* Кнопка для загрузки файлов */
  padding: 10px; /* Внутренние отступы */
  border-radius: 5px; /* Округление углов */
  border: 2px dashed var(--border-line); /* Пунктирная рамка */
  text-align: center; /* Центрирование текста */
  background-color: #b7b7b7; /* Фон кнопки */
  cursor: pointer; /* Указываем, что элемент кликабельный */
  height: 86px; /* Высота кнопки */
  display: flex; /* Используем флекс для выравнивания содержимого */
  align-items: center; /* Центрирование по вертикали */
  justify-content: center; /* Центрирование по горизонтали */
  color: #000; /* Цвет текста */
  font-weight: 500; /* Толщина шрифта */
  font-size: 18px; /* Размер шрифта */
  box-sizing: border-box; /* Учитываем границы в размере */
  width: 100%; /* Занимает всю ширину контейнера */
  transition: .2s; /* Плавный переход для изменений */
}

.upload-btn:hover {
  /* Эффект при наведении на кнопку загрузки */
  background-color: #9d9d9d; /* Изменение фона при наведении */
  color: #252323; /* Изменение цвета текста */
}

.upload-lifetime {
  /* Контейнер для настройки срока хранения файла */
  display: flex; /* Используем флекс */
  flex-direction: column; /* Элементы располагаются вертикально */
  align-items: flex-start; /* Выравнивание по левому краю */
}

.upload-lifetime select {
  /* Выпадающий список для срока хранения */
  width: 100%; /* Занимает всю ширину контейнера */
  height: 30px; /* Высота списка */
}

.upload-for-public {
  /* Контейнер для флажка публичного доступа */
  text-align: left; /* Выравнивание по левому краю */
}

.uploaded-file-info {
  /* Контейнер для информации о загруженном файле */
  background-color: var(--card); /* Фон из переменной card */
  border-radius: 6px; /* Округление углов */
  padding: 12px; /* Внутренние отступы */
}

.admin-panel-table-svg-icon {
  /* Иконки в таблице панели администратора */
  display: flex; /* Используем флекс */
  justify-content: center; /* Центрирование содержимого */
}

.admin-panel-table-svg-icon svg {
  /* Стили для иконок SVG */
  width: 13px; /* Размер иконки */
}

.admin-panel-green-circle {
  /* Зеленый круг для обозначения активного состояния */
  fill: #00ff00; /* Цвет заливки */
}

.admin-panel-red-circle {
  /* Красный круг для обозначения ошибки */
  fill: #ff0000; /* Цвет заливки */
}

.auth-main {
  /* Основной контейнер страницы авторизации */
  background-color: var(--card); /* Фон из переменной card */
  padding: 20px; /* Внутренние отступы */
  border-radius: 6px; /* Округление углов */
  width: 100%; /* Занимает всю ширину контейнера */
}

.auth-logo {
  /* Логотип на странице авторизации */
  width: 60px; /* Фиксированный размер логотипа */
  margin-top: 0.83em; /* Отступ сверху */
}

.auth-main h2 {
  /* Заголовок на странице авторизации */
  margin-top: 8px; /* Отступ сверху */
}

.auth-main form {
  /* Форма на странице авторизации */
  display: flex; /* Используем флекс */
  flex-direction: column; /* Элементы располагаются вертикально */
}

.auth-main form input {
  /* Поля ввода формы авторизации */
  height: 40px; /* Высота поля */
  background-color: var(--card); /* Фон из переменной card */
  border-bottom: 1px solid var(--border-line); /* Нижняя граница */
  border-right: none; /* Убираем правую границу */
}

.auth-main form button {
  /* Кнопка отправки формы авторизации */
  margin-top: 20px; /* Отступ сверху */
}

.download-main {
  /* Основной контейнер для блока загрузки */
  background-color: var(--card); /* Фон из переменной card */
  padding: 20px; /* Внутренние отступы */
  border-radius: 6px; /* Округление углов */
  min-width: 600px; /* Минимальная ширина контейнера */
}

.download-block-main {
  /* Основной блок для информации о загрузке */
  display: flex; /* Используем флекс */
  justify-content: space-between; /* Элементы распределены по краям */
  background-color: var(--card-hover); /* Фон из переменной card-hover */
  padding: 12px; /* Внутренние отступы */
  border-radius: 6px; /* Округление углов */
  align-items: center; /* Центрирование по вертикали */
}

.download-block-info {
  /* Информация о загрузке */
  display: flex; /* Используем флекс */
  gap: 8px; /* Промежуток между элементами */
}

.download-block-text {
  /* Текстовая информация о загрузке */
  text-align: left; /* Выравнивание текста по левому краю */
}

.download-block-text {
  /* Контейнер текста в блоке загрузки */
  text-align: left; /* Выравнивание текста по левому краю */
}

.download-block-text svg {
  /* Иконки в текстовом блоке загрузки */
  width: 18px; /* Фиксированная ширина иконки */
  fill: var(--gray); /* Цвет заливки из переменной gray */
  cursor: pointer; /* Указатель мыши меняется на руку */
  transition: .2s; /* Плавный переход при наведении */
}

.download-block-text-name {
  /* Контейнер для имени файла */
  display: flex; /* Используем флекс для горизонтального расположения */
  gap: 4px; /* Промежуток между элементами */
}

.download-block-text svg:hover {
  /* Эффект при наведении на иконки */
  opacity: .7; /* Полупрозрачность */
}

.download-block-other-info {
  /* Контейнер для дополнительной информации */
  display: flex; /* Используем флекс для горизонтального расположения */
  justify-content: space-between; /* Элементы распределены по краям */
}

.download-block-other-info,
.download-block-desc-info {
  /* Общие стили для дополнительных блоков */
  margin: 10px 10px; /* Внешние отступы */
}

.download-block-mini-info,
.download-block-desc-info {
  /* Общие стили для текстовой информации */
  text-align: left; /* Выравнивание текста по левому краю */
}

@media (max-width: 768px) {
  /* Адаптивные стили для экранов шириной до 768px */

  .header-modile {
    /* Мобильное меню */
    position: fixed; /* Фиксированное положение */
    top: 64px; /* Расположение под заголовком */
    display: none; /* По умолчанию скрыто */
    flex-direction: column; /* Элементы располагаются вертикально */
    width: 100%; /* Занимает всю ширину экрана */
    height: 100%; /* Занимает всю высоту экрана */
    background-color: var(--card); /* Фон из переменной card */
    margin: 0; /* Убираем отступы */
    z-index: 1000; /* Уровень слоя */
  }

  .header-burger-modile {
    /* Кнопка для открытия мобильного меню */
    display: flex; /* Используем флекс */
    justify-content: center; /* Центрирование содержимого */
  }

  .header-modile.snow {
    /* Отображение мобильного меню */
    display: flex; /* Делаем видимым */
  }

  .file-list-box {
    /* Контейнер для карточек файлов */
    width: 100%; /* Занимает всю ширину */
  }

  .file-list-mini-info {
    /* Мини-информация о файле */
    text-align: left; /* Выравнивание текста по левому краю */
  }

  .file-list-img {
    /* Изображение файла */
    width: 58px; /* Ширина изображения */
    height: 58px; /* Высота изображения */
  }

  .file-list-mini-info {
    /* Шрифт мини-информации */
    font-size: 12px; /* Размер шрифта */
  }

  .file-list-info strong {
    /* Основной текст информации о файле */
    font-size: 14px; /* Размер шрифта */
  }

  .file-list-info svg {
    /* Иконки в информации о файле */
    width: 16px; /* Размер иконки */
  }

  .file-list-box button {
    /* Кнопки в карточках файлов */
    font-size: 15px; /* Размер шрифта кнопки */
  }

  .file-list-h2 {
    /* Заголовок списка файлов */
    margin-top: 3rem; /* Отступ сверху */
  }
}
